body {
    width: 100%;
    margin: 0;
    background-color: #0a1650;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}

main {
    width: 100%;
    height: 100%;
    margin: 0;
}

.Section4 {
    display: flex;
    margin: 0;

}

.S4_OG {
    width: 100%;
    height: fit-content;
    display: flex;

}

.Image_Dots {
    margin-top: 21.5%;
}

.Image_Dots img {
  width: 105%;

}


.S4_ONE {
    margin-top: 10%;
    width: 80%;
    margin-left: 8.5%;
}

.RELIABLE {
  margin-left: 9%;
  margin-top: -1%;
}

.S4_ONE h4 {
    color: #46a3cf;
    width: 100%;
    letter-spacing: 4px;
    font-size: 16px;
}

.RELIABLE h1 {
    font-size: 43px;
    margin-top: -2%;
    line-height: 120%;
    margin-bottom: 1%;
}


.RELIABLE p {
  color: #5b6fb2;
  line-height: 170%;
  font-size: 16px;
  width: 97%;
  margin-top: 3.5%;

}



.S4_TWO {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Container_Img {
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Container_Img img {
  width: 100%;
}



/* #Working_Girl {
    width: 100%;
    padding-left: 1.5%;
} */

.READ_MORE {
    /* width: 24.5%;
    height: 34%; */
    /* width: 412px; */
    /* height: 279px; */
    height: 34%;
    color: white;
    background-color: #0ad3ef;
    padding: 2.5%;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 2;
    margin-top: 26.98%;
    margin-left: -23%;
    border-top-left-radius: 12px;
    position: relative;
}


.READ_MORE img {
    width: 80px;
    margin-bottom: -1%;
}

.READ_MORE h4 {
    font-size: 17px;
    margin-bottom: -1.5%;
}


.READ_MORE p {
  font-size: 16.5px;
  line-height: 135%;
  width: 110%;
  margin-bottom: 1%;
}


.READ_MORE h3 {
  font-weight: 500;
  font-size: 17px;
}






.ProgressBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
  justify-content: center;
  align-items: center;
  gap: 6%;
  margin-top: 10%;
  padding-left: 2%;
  
}


.ProgressBar p {
  font-family: 'Roberto', sans-serif;
  font-size: 17px;
  margin-top: 20%;
  font-weight: 700;
}




@property --progress-value {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
  }
  
  @keyframes html-progress {
    to { --progress-value: 85; }
  }
  
  @keyframes css-progress {
    to { --progress-value: 78; }
  }
  
  @keyframes js-progress {
    to { --progress-value: 64; }
  }
  
  .progress-bar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
  }
  
  .html {
    background: 
      radial-gradient(closest-side, #0a1650 95%, transparent 80% 100%),
      conic-gradient(#329bca calc(var(--progress-value) * 1%), #233275 0);
    animation: html-progress 4s 1 forwards;
  }
  
  .html::before {
    animation: html-progress 4s 1 forwards;
  }
  
  .css {
    background: 
      radial-gradient(closest-side, #0a1650 95%, transparent 80% 100%, white 0),
      conic-gradient(#329bca calc(var(--progress-value) * 1%), #233275 0);
    animation: css-progress 4s 1 forwards;
  }
  
  .css::before {
    animation: css-progress 4s 1 forwards;
  }
  
  .js {
    background: 
      radial-gradient(closest-side, #0a1650 95%, transparent 80% 100%, white 0),
      conic-gradient(#329bca calc(var(--progress-value) * 1%), #233275 0);
    animation: js-progress 4s 1 forwards;
  }
  
  .js::before {
    animation: js-progress 4s 1 forwards;
  }
  
  
  progress {
    visibility: hidden;
    width: 0;
    height: 0;
  }